@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply hover:underline cursor-pointer;
}

.title {
    @apply text-2xl;
}

input {
    @apply rounded-md;
}

.success {
    @apply text-green-500;
}

.blue-link-color {
    @apply text-blue-500;
}

.email-verification-link {
    @apply bg-green-500 w-full p-4 text-center text-white;
}
.like-color {
    @apply text-blue-700;
}

.heart-color {
    @apply text-purple-700;
}

.star-color {
    @apply text-yellow-700;
}

.dislike-color {
    @apply text-red-500;
}

.like-highlighted {
    @apply bg-blue-400 text-white;
}

.like-nonhighlighted {
    @apply bg-white text-blue-700;
}

.dislike-highlighted {
    @apply bg-red-400 text-white;
}

.dislike-nonhighlighted {
    @apply bg-white text-red-500
}

.heart-highlighted {
    @apply bg-purple-400 text-white;
}

.heart-nonhighlighted {
    @apply bg-white text-purple-700;
}

.star-highlighted {
    @apply bg-yellow-400 text-white;
}

.star-nonhighlighted {
    @apply bg-white text-yellow-700;
}

.read-notification {
    @apply bg-gray-50;
}

.tab-container {
    @apply justify-center flex border border-black rounded shadow my-4;
}

.toggled-tab {
    @apply border-t-2 border-black;
}

.snackbar {
    @apply p-2 flex flex-row justify-between;
}

.x-icon {
    @apply fa-solid fa-x;
}
